## Dictionary

In [1]:
dict1 = {
    'Fname': 'James',
    'Lname': 'Bond',
    'Car': 'Aston Martin',
    'Model': 'DB10'
}

In [2]:
dict1.keys()

dict_keys(['Fname', 'Lname', 'Car', 'Model'])

In [3]:
dict1.values()

dict_values(['James', 'Bond', 'Aston Martin', 'DB10'])

In [4]:
dict1['Car']

'Aston Martin'

In [5]:
dict1['Fname']

'James'

In [6]:
dict1['Country'] = 'England' # Adding new element
# dict[new_key] = new_value

In [7]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Country': 'England'}

In [8]:
dict1.pop('Country')

'England'

In [9]:
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': 'DB10'}

In [10]:
dict2 = {
    'Actor': 'Daniel Craig',
    'Year': 2008
}

In [11]:
dict1.update(dict2)

In [12]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Actor': 'Daniel Craig',
 'Year': 2008}

In [13]:
dict1['new_dict'] = {
    'A': 96845,
    'B': 98465,
    'C': 879865
}

In [14]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Actor': 'Daniel Craig',
 'Year': 2008,
 'new_dict': {'A': 96845, 'B': 98465, 'C': 879865}}

In [15]:
dict1 = {
    'Fname': 'James',
    'Lname': 'Bond',
    'Car': 'Aston Martin',
    'Model': 'DB10',
    'Model': 'DB10'
}
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': 'DB10'}

In [16]:
dict1 = {
    'Fname': 'James',
    'Lname': 'Bond',
    'Car': 'Aston Martin',
    'Model': 'DB10',
    'Model': 'DBS'
}
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': 'DBS'}

In [17]:
dict1 = {
    'Fname': 'James',
    'Lname': 'Bond',
    'Car': 'Aston Martin',
    'Model': 'DB10',
    'Model_old': 'DB10'
}
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Model_old': 'DB10'}

In [1]:
dict1 = {
    'Fname': 'James',
    'Lname': 'Bond',
    'Car': 'Aston Martin',
    'Model': 'DB10',
    'model': 'DB10'
}
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'model': 'DB10'}

In [18]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Model_old': 'DB10'}

In [19]:
dict1['dict2'] = dict2

**Key always should be string**

In [20]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Model_old': 'DB10',
 'dict2': {'Actor': 'Daniel Craig', 'Year': 2008}}

In [2]:
dict1 = {
    '1' : 'One',
    2: 'Two'
}
dict1

{'1': 'One', 2: 'Two'}

In [4]:
dict1[2]

'Two'

In [5]:
dict1['1']

'One'

In [21]:
dict1.pop('dict2')

{'Actor': 'Daniel Craig', 'Year': 2008}

In [22]:
dict1

{'Fname': 'James',
 'Lname': 'Bond',
 'Car': 'Aston Martin',
 'Model': 'DB10',
 'Model_old': 'DB10'}

In [23]:
dict1['Model_old']

'DB10'

In [24]:
dict1.pop('Model_old')

'DB10'

In [25]:
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': 'DB10'}

In [26]:
dict1['Model_old']

KeyError: 'Model_old'

In [27]:
dict1.get('Model_old')

In [28]:
dict1.get('Car')

'Aston Martin'

In [29]:
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': 'DB10'}

In [30]:
dict1['Model'] = None

In [31]:
dict1

{'Fname': 'James', 'Lname': 'Bond', 'Car': 'Aston Martin', 'Model': None}

# String Manipulation

In [32]:
s = 'Hello World'

In [33]:
s

'Hello World'

In [34]:
'z' in s

False

In [35]:
'h' in s

False

In [36]:
'llo' in s

True

In [37]:
len(s)

11

In [38]:
s[3]

'l'

In [39]:
s

'Hello World'

In [40]:
s[1]

'e'

In [41]:
s[-3]

'r'

In [42]:
s[1:]

'ello World'

In [43]:
# string[start: stop: step]

In [44]:
s[:-2]

'Hello Wor'

In [45]:
s[:-2:2]

'HloWr'

In [46]:
s

'Hello World'

In [47]:
s.split()

['Hello', 'World']

In [48]:
s.split('l')

['He', '', 'o Wor', 'd']

In [49]:
date = 'July-13-2023'

In [50]:
date = date.split('-')
date

['July', '13', '2023']

In [51]:
print(f'Today is {date[1]} day, {date[0]} Month and {date[2]} Year')

Today is 13 day, July Month and 2023 Year

In [52]:
message = f'Today is {date[1]} day, {date[0]} Month and {date[2]} Year'

In [56]:
'Today is '  + str(date[1]) + ' day'

'Today is 13 day'

In [7]:
str(9)

'9'

In [53]:
print(message)

Today is 13 day, July Month and 2023 Year

In [8]:
message = 'I_am_groot'

In [9]:
message.replace('_', ' ')
# replace(old_value, new_value)

'I am groot'

In [10]:
message.replace('groot', 'Iron Man')

'I_am_Iron Man'

# User Input

In [61]:
name = input('Enter your name: ')

Enter your name: Hari Bahadur

In [62]:
name

'Hari Bahadur'

In [64]:
num1 = input('Enter number 1: ')
num2 = input('Enter number 2: ')

num1 = int(num1)
num2 = int(num2)

print(f'Sum of {num1} and {num2} is {num1 + num2}')

Enter number 1: 45
Enter number 2: 12
Sum of 45 and 12 is 57

In [86]:
name = input('Enter your full name: ')

Enter your full name: Radha Piyari

In [87]:
name = name.split(' ')
# name.split('')

In [88]:
name

['Radha', 'Piyari']

In [89]:
print(f'First Name: {name[0]}, Last Name: {name[-1]}')

First Name: Radha, Last Name: Piyari

# Exception Handling

```python
try:
    # codes with error
except error_type:
    # error handling code
```

In [15]:
a = 5
b = 10
try:
    print(f'{a}/{b} is {a / b}')
except ZeroDivisionError:
    print('Cannot Divide by Zero')

5/10 is 0.5